<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Running Platform">
    <locations>
        <location path="${eclipse_home}" type="Profile"/>
        <location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
            <repository location="https://download.eclipse.org/eclipse/updates/4.23/"/>
            <unit id="org.eclipse.platform.ide" version="4.23.0.I20220308-0310"/>
            <unit id="org.eclipse.rcp.feature.group" version="4.23.0.v20220308-0722"/>
            <unit id="org.eclipse.rcp.source.feature.group" version="4.23.0.v20220308-0722"/>
        </location>
    </locations>
    <environment>
        <arch>x86_64</arch>
        <os>macosx</os>
        <ws>cocoa</ws>
        <nl>en_US</nl>
    </environment>
</target>